.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-button-toggle {
  background-color: white;
  color: black;
}

.mat-button-toggle-checked {
  background-color: #E91E63;
  color: white;
}

.list-container {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}

